<!DOCTYPE html>
<html lang="en">

<body>
    <form method = "post">
        {% csrf_token %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <h1>Home Page </h1>
        <form class="px-4 py-3" action="#">
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="text" class="form-control" id="text" placeholder="search" name="search" required>
            </div>
        </form>
    </head>
    </form>
</body>
</html>