<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action ="/home/" method = "post">
        {% csrf_token %}
    <h1>This is a sample page</h1>
    <div class="form-group">
        <label for="exampleDropdownFormEmail1">Email address</label>
        <input type="text" class="form-control" id="text" placeholder="search" name="search" required>
    </div>
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>